/* for desktop avatar menu */
.avatar-icon:hover > ul{
display: block !important;
}

.avatar-menu{
display: none;
}

/* for mobile */
.mob-icon:hover > ul{
   display: block !important; 
}
.mob-menu{
   display: none; 
}